{{ template "fragments/header" . }}

<main>
    <article>
        <section>
            <hgroup>
                <h4>Current Infrastructure</h4>
                <p>Running Containers: {{ .Count }}</p>
            </hgroup>
        </section>

        <section>
            <table>
                <thead>
                    <th>Container Name</th>
                    <th>Container ID</th>
                    <th>Current Status</th>
                    <th>Creation Date</th>
                </thead>
                <tbody>
                    {{range .Containers}}
                    <tr>
                        <td>{{.Names}}</td>
                        <td><a href="/dashboard/container/{{.ID}}">{{.ID}}</a></td>
                        <td>{{.State}}</td>
                        <td>{{.Created}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </section>
    </article>
</main>

{{ template "fragments/footer" . }}