{{ template "fragments/header" .}}

<main>
    <article>
        <section class="hero">
            <hgroup>
                <h1>Lore impsum</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur molestias voluptatem fugit deserunt
                    quis et laudantium aperiam repellendus eos, voluptas earum, excepturi consectetur dolorum labore.
                    Possimus expedita laboriosam quibusdam nesciunt?</p>
            </hgroup>
        </section>
    </article>
</main>

{{ template "fragments/footer" .}}