[data-theme="light"] button.theme-toggler {
  svg.theme-icon-light {
    display: none;
  }

  svg.theme-icon-dark {
    display: block;
  }
}

[data-theme="dark"] button.theme-toggler {
  svg.theme-icon-light {
    display: block;
  }

  svg.theme-icon-dark {
    display: none;
  }
}
