<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="creator" content="Francisco M. Prieto Giorgis">
    <meta name="description" content="Catalyst is a simple infrastructure manager built in Go.">
    <meta name="keywords" content="docker,ti,infrastructure,containers,dashboard">
    <meta name="color-scheme" content="light dark">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Catalyst Infrastructure Portal">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Catalyst is a simple infrastructure manager built in Go.">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="root">

        <header>
            <div class="container-fluid">
                <nav>
                    <a href="/">
                        <h1 class="accent">Catalyst</h1>
                    </a>
                    <ul>
                        <li><a href="/docs">Documentation</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/loging" class="secondary">Login</a></li>
                        <li>
                            <button class="outline" data-theme-toggler>
                                <img class="icon" data-theme-icon="light" src="/svg/moon-filled.svg"
                                    alt="ICON_MOON_FILLED_SVG">
                                <img class="icon" data-theme-icon="dark" src="/svg/sun-filled.svg"
                                    alt="ICON_SUN_FILLED_SVG">
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="container-fluid">
                {{ embed }}
            </div>
        </main>
        <aside>
        </aside>
        <footer>
            <div class="container-fluid">
                <nav></nav>
            </div>
        </footer>
    </div>
    <script src="/scripts/colorThemeToggler.js"></script>
</body>

</html>